<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>렌즈를마주한사람들</title>
            <link rel="stylesheet" href="../../static/css/home.css">
        </head>
        <body>
            <img class="green" src="../../static/image/green.png" alt="green">
            <img class="main" src="../../static/image/main.jpg" alt="main">
            <a class="model" href="../model/model_main.html">
                <img src="../../static/image/white.png" alt="">
                <p>model</p>
            </a>
            <a class="photographer" href="../photographer/photographer_main.html">
                <img src="../../static/image/yellow.png" alt="">
                <p>photographer</p>
            </a>
            <a class="board" href="../board/board_main.html">
                <img src="../../static/image/blue.png" alt="">
                <p>matching</p>
            </a>
            <a class="login" href="#">
                <img src="../../static/image/yellow2.png" alt="">
                <p>login</p>
            </a>
            <a class="registration" href="#">
                <img src="../../static/image/red.png" alt="">
                <p>registration</p>
            </a>
        </body>
    </html>