<!DOCTYPE html>
    <html lang="kor">
        <head>
            <meta charset="UTF-8">
            <title>작가</title>
            <link rel="stylesheet" href="../../static/css/frame.css">
        </head>
        <body>
            <a href="../home/home.html">
                <img class="logo" src="../../static/image/logo.png" alt="">
            </a>
            <div class="title">
                <p>photographer</p>
            </div>
            <div class="category">
                <a href="">logout</a>
                <a href="">mypage</a>
            </div>
            <div class="keywords">
                <p>keywords</p>
            </div>
            <div class="array">
                <img src="" alt="">
            </div>
        </body>
    </html>